/* tamaño de fuentes, imaganes y colores */
$negro: #212226;
$azul: #51548C;
$blanco: #CCD4D9;
$gris: #3f4d59;
$grisClaro: #8697A6;

.iconosc {
    display: inline;
    width: 25rem;
}
body {
    background-color: $negro;
}
h1 {
    color: $azul;
    font-family: "Oswald";
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 6rem;
}
h2 {
    color: $azul;
    font-family: "Oswald";
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 4rem;
}
h3 {
    color: $blanco;
    font-family: "Oswald";
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 4rem;
}
p {
    color: $blanco;
    font-family: "Oswald";
    font-weight: 300;
    font-style: normal;
    text-align: justify;
    font-size: 3rem;
}
a {
    text-decoration: none;
}