header {
    grid-area: nav;
    background-color: $negro;
    padding: none;
    
    .iconosc {
        display: inline;
        width: 5rem;
        @include mobile {
            display: inline;
            width: 10rem;
        }

        @include tablet {
            width: 15rem;
        }
    }
    .nav-link, .navbar-nav .nav-link.active {
    color: $blanco;
    }
        
    .navbar-brand {
    color: $blanco;
    }
    .navbar {
    padding: 0;
    }
    #navbarNav {
    justify-content: flex-end;
    }
    .navbar-toggler {
    font-size: 10rem;
    @include mobile {
        font-size: 5rem;
    }
    @include tablet {
        font-size: 7rem;
    }
    }
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}
ul li {
    list-style-type: none;
    font-family: "Oswald";
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    padding: 0 6rem;
}
ul li:last-child {
    padding: 0 2rem 0 6rem;
}
}