@include tablet {
    .gridHome {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
        "nav"
        "inicio"
        "motivacion1"
        "motivacion2"
        "footer";
    }
    .nav-link, .navbar-nav .nav-link.active {
        color: $blanco;
        font-size: 3rem;
    }
    .navbar-brand {
        width: 10rem;
    }
    .navbar-toggler {
        font-size: 10rem;
    }
    .Inicio h1 {
        font-size: 10rem;
        padding: 2rem;
    }
    .presentacionsc {
        color: $blanco;
        font-size: 6rem;
        text-align: center;
        margin: 0%;
        padding: 0%;
    }
    .motivacion1 h2 {
        font-size: 8rem;
    }
    .motivacion1 div {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        // width: 50%;
    }
    .motivacion1 div p {
        text-align: justify;
        font-size: 7rem;
        color: $blanco;
        text-align: center;
        margin: 0%;
        padding: 0%;
    }
    .motivacion2 h2 {
        font-size: 8rem;
        text-align: center;
        padding: 0rem;
    }
    .motivacion2 {
        padding: 70rem none none 100rem;
    }
    .motivacion2 div img {
        display: flex;
        align-items: center;
        width: 28rem;
    }
    header {
        width: 100%;
        height: 100%;
    }
    footer {
        width: 100%;
    }
/* sobre nosotros */
.nosotross {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "nav"
    "inicio"
    "profesores"
    "footer";
}
.sobre-nosotros h1 {
    font-size: 5rem;
    padding: 2rem;
}
.presentacion {
    color: $blanco;
    font-size: 2rem;
    text-align: center;
    margin: 0%;
    padding: 2rem;
}
.profesores h2 {
    font-size: 4rem;
}
.card-profesor h3 {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 6rem;
}
.imagenp {
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
}
.imagenp p {
    font-size: 2rem;
}
.santi {
    width: 80%;
    height: 70rem;
    border-radius: 5%;
}
.lean {
    width: 80%;
    height: 70rem;
    border-radius: 5%;
}
/* planes */
.planess {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "nav"
    "inicio"
    "planes"
    "footer";
}
.planes {
    grid-area: inicio;
}
.clientes-todos {
    grid-area: planes;
}
.planes h1 {
    font-size: 5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.planes p {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0rem 3rem 0rem 3rem;
    font-size: 3rem;
}
.clientes-todos h2 {
    display: flex;
    font-size: 4rem;
    align-items: start;
    justify-content: center;
    padding: 4rem 0rem 0rem 0rem;
}
.cliente1 h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 5rem 5rem 2rem 5rem;
}
.cliente1 div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.cliente1 p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 3rem;
}
.cliente2 h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 5rem 5rem 2rem 5rem;
}
.cliente2 div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.cliente2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 3rem;
}
.cliente3 h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 5rem 5rem 2rem 5rem;
}
.cliente3 div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    padding: 0rem 2rem 4rem 2rem;
}
.cliente3 p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 3rem;
}
.imgChica {
    width: 59rem;
    height: 40rem;
    border-radius: 5%;
}
.imgChica3 {
    width: 59rem;
    height: 59rem;
    border-radius: 5%;
}
/* entrena con nosotros */
.entrena {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "nav"
    "gracias"
    "eleccion" 
    "usuariooo"
    "registroo"
    "footer";
}
h1 {
    font-size: 7rem;
}
h2 {
    font-size: 6rem;
}
p {
    font-size: 4rem;
}
.gracias {
    grid-area: gracias;
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    font-size: 5rem;
}

.eleccion {
    grid-area: eleccion;
    padding: 5rem 2rem 5rem 2rem;
}
.usuariooo {
    grid-area: usuariooo;
    display: flex;
    align-items: center;
    justify-content: center;
}
.usuariooo form {
    display: grid;
    grid-column: 1fr;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.usuariooo form input {
    width: 75rem;
    height: 16rem;
}
.registroo {
    grid-area: registroo;
}
.todavia {
    display: flex;
    align-items: center;
    justify-content: center;
}
.todavia {
    padding: 1rem 5rem 1rem 5rem;
}
.registro {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 85%;
    height: 10%;
    margin: 2rem auto 5rem auto;
}

/* contacto */
.contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "nav"
    "consulta"
    "ubicacion1"
    "ubicacion"
    "usuario"
    "footer";
}
h1 {
    font-size: 7rem;
}
p {
    font-size: 5rem;
}
.ubicacion-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    padding: 0rem 5rem 5rem 5rem;
}
iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 85rem;
    height: 85rem;
    padding: 5rem 5rem 5rem 5rem;
}
.usuarioo {
    grid-area: usuario;
    display: flex;
    align-items: center;
    justify-content: center;
}
.usuarioo form {
    display: grid;
    grid-column: 1fr;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.mensaje {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.btn-enviar {
    font-size: 3rem;
    background-color: $blanco;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70rem;
    height: 3rem;
}
.btn-enviar {
    font-size: 3rem;
    background-color: $blanco;
    display: flex;
    flex-direction: column-reverse;
}
input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    height: 6rem;
}
select {
    padding: 1rem;
    margin-bottom: 1rem;
    width: 95%;
    height: 4rem;
}
textarea {
    height: 5rem;
    margin-bottom: 2rem;
}
}